/* Shared */
* { margin: 0; padding: 0; font: 18px/1.4em 'Open Sans', Helvetica, Arial, sans-serif; }
html, body { height: 100%; }
body { color: #000000; background-color: #ffffff; }
img { border: none; vertical-align: middle; }
h1, p, ul { margin-bottom: 1.2em; }
b { font-weight: bold; }
i { font-style: italic; }
ul { margin-left: 30px; }
h1 { font-size: 40px; margin-bottom: 0.6em; text-align: left; font-weight: bold; }
h2 { font-size: 30px; margin-bottom: 0.6em; text-align: left; font-weight: bold; }
h3 { font-size: 24px; margin-bottom: 0.6em; text-align: left; font-weight: bold; }
h4 { font-size: 20px; margin-bottom: 0.6em; text-align: left; font-weight: bold; }

.clear { clear: both; }

#wrapper {
  margin: 0 auto;
  padding: 40px;
}

#wrapper, #wrapper div {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.paginator {
  position: fixed;
  width: 100px;
  z-index: 10000;

  opacity: 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;

  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;

  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;

  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;

  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
}

.paginator:active, body.pagination-active .paginator {
  background-color: #000000;
  opacity: 0.4;
}

.paginator:hover {
  cursor: pointer;
}

#page-back {
  top: 0;
  bottom: 0;
  left: 0;
}

#page-next {
  top: 0;
  bottom: 0;
  right: 0;
}

#page-back-10 {
  bottom: 0;
  left: 0;
  height: 100px;
  z-index: 10001;
}

#page-next-10 {
  bottom: 0;
  right: 0;
  height: 100px;
  z-index: 10001;
}

#page-home {
  top: 0;
  left: 0;
  height: 100px;
  z-index: 10001;
}
