#view-index {
  display: none;
}

#header { margin: 5px 5px 24px 5px; }
#search { width: 250px; }
#actions { float: right; }

/* List page only */

#stories {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#stories li {
  display: block;
  margin: 10px 0;
  padding: 1px;
  height: 29px;
  position: relative;
}
#stories li > a, #stories li > div {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-decoration: none;
}
#stories li > a, #stories li > div, #stories li .emblems {
  height: 27px;
}
#stories li .emblems {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0 0 5px;
}
#stories li .emblems span.label {
  font-weight: normal;
}

#stories li, #stories li > a {
  background-color: #ffffff;
  color: #000000;
}
#stories li:hover, #stories li:hover > a {
  background-color: #000000;
  color: #ffffff;
}

#story-progress {
  display: block;
  position: absolute;
  bottom: 6px;
  left: 50%;
  width: 1000px;
  margin-left: -500px;
  z-index: 1000;
  opacity: 0;
}

#story-progress span, #story-progress input {
  display: block;
  float: left;
  height: 26px;
}

#story-progress span {
  width: 190px;
}

#story-progress #story-page {
  text-align: right;
}

#story-progress input {
  width: 600px;
  margin-left: 10px;
  margin-right: 10px;
}

#story-progress:hover {
  opacity: 1.0;
}
