#view-show {
  display: none;
  flex-direction: column;
}

iframe {
  display: none;
}

#view-show #story {
  flex: 1;
  overflow-y: auto;
  position: relative;
}

#view-show #return-to-index {
  padding: 5px;
}

#view-show #return-to-index a {
  color: #ffffff;
}

#story-navigation {
  background: none;
}

#story-navigation /deep/ #label {
  padding: 6px;
}

#story-navigation /deep/ core-dropdown {
  border: 1px solid #000000;
}

#story-navigation core-item {
  padding: 6px;
}

#story-navigation core-item.core-selected {
  font-weight: normal;
  background-color: #FBC02D;
}

/*
html /deep/ core-dropdown-menu {
  box-sizing: border-box;
  width: 170px;
}

html /deep/ core-dropdown {
  box-sizing: border-box;
  min-width: 170px;
  background-color: #eee;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 3px;
}
*/