#view-index {
  display: none;
  flex-direction: column;
}

/*#header { margin: 5px 5px 24px 5px; }*/
#search { width: 250px; }
#actions { float: right; }

/* List page only */

#story-list {
  flex: 1;
}

#story-list .item {
}

#story-list .item > a {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-decoration: none;
  position: relative;
  padding: 6px;
}
#story-list .item > a, #story-list .item > div, #story-list .item .emblems {
  /*height: 27px;*/
}
#story-list .item .emblems {
  display: block;
  position: absolute;
  top: 6px;
  right: 6px;
  padding: 0 0 0 6px;
  background-color: #ffffff;
}
#story-list .item .emblems span.label {
  font-weight: normal;
}

#story-list .item > a {
  background-color: #ffffff;
  color: #000000;
}
#story-list .item:hover > a {
  background-color: #FBC02D;
  color: #000000;
}
 #story-list .item:hover .emblems {
  background-color: #FBC02D;
}

#story-progress {
  display: block;
  position: absolute;
  bottom: 6px;
  left: 50%;
  width: 1000px;
  margin-left: -500px;
  z-index: 1000;
  opacity: 0;
}

#story-progress span, #story-progress input {
  display: block;
  float: left;
  height: 26px;
}

#story-progress span {
  width: 190px;
}

#story-progress #story-page {
  text-align: right;
}

#story-progress input {
  width: 600px;
  margin-left: 10px;
  margin-right: 10px;
}

#story-progress:hover {
  opacity: 1.0;
}
