#view-show {
  display: none;
}

#view-show iframe {
  display: none;
}

#view-show #story {
  position: relative;
}

#view-show #return-to-index {
  padding: 5px;
}

#view-show #return-to-index a {
  color: #ffffff;
}
