body, div, a, img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1, p, ul {
  margin-top: 0;
  margin-bottom: 1.2em;
}
h1, h2, h3, h4 {
  line-height: 1.375em;
  margin-top: 0;
  margin-bottom: 0.6em;
}

.clear { clear: both; }

#wrapper {
  max-width: 1200px;
  margin: 51px auto 0 auto;
  padding: 30px;
}

#navbar-content-target {
  text-align: center;
}

.navbar-nav.navbar-right:last-child {
  margin-right: 0 !important;
}
